<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
    <div class="col m8">
      
      <div class="">

      <%= f.text_field :name_li, label: false, placeholder: "Désignez l'élément commun au groupe de mots" %>
      </div>
    </div>
    <!--<div class="field">
      <%= f.label :name_fr %><br>
      <%= f.text_field :name_fr %>
    </div>-->
    <%= f.hidden_field :contributor_id, value: current_user.id %>
    <%= f.hidden_field :first_definition_id, value: definition.id %>
    <div class="col m4">
      <small><%= f.submit "Associer", class: "btn right" %></small>
    </div>
  </div>
<% end %>
