<li>
      <div class="collapsible-header">
      	<i class="material-icons">group_work</i>Associations de mots crées
      </div>

      <div class="collapsible-body">
      	<ul class="collection">

			<% @user.groups.sort_by{ |a| a.name or 0 }.each do |association| %>
				<li class="collection-item">

					<%= association.name if association.name %> <small>(<%= link_to "Modifier le nom de l'association", edit_group_path(association) %> | <%= link_to "Supprimer ce groupe de mots", association, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>)</small>
					<br>
					<small>
						<b>Mots associés : </b>
						<% association.definitions.sort_by{ |a| a.name or 0 }.each do |definition| %>
        <i><%= link_to definition.name, word_path(definition.word) %>,</i>
    <% end %>

					</small>
				</li>
			<% end %>
		</ul>
	</div>
      	
</li>

<li>
      <div class="collapsible-header">
      	<i class="material-icons">group_work</i>Mots ajoutés à une association
      </div>

      <div class="collapsible-body">
      	<ul class="collection">
			<% if @user.definition_groups.any? %>
			<% @user.definition_groups.sort_by{ |a| a.name or 0 }.each do |associated| %> 
				<% if associated.definition %>

				<li class="collection-item">

					
					
					<%= associated.definition.content %> 
					<small>(<%= link_to "Changer d'association", edit_definition_group_path(associated) %> 
					| <%= link_to "Supprimer l'association de ce mot au groupe '#{associated.group.name if associated.group.name}'", associated, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>)
					</small>

					<small>
					<br>Mot ainsi défini : <%= link_to associated.definition.name, word_path(associated.definition.word) if associated.definition.name %>
					<br>Nom de l'association de mots :
						<b><%= associated.group.name if associated.group.name %></b>

					<br><b>Autres mots de la même association : </b>
						
			                <% associated.group.definitions.sort_by(&:name).each do |terme_associe| %>
			                  <% unless terme_associe == associated %>
			                    <%= link_to terme_associe.name, word_path(terme_associe.word) if terme_associe.name %>, 
			                  <% end %>
			                <% end %>
			            

					</small>

					
				</li>
				<% end %>
			<% end %>
			<% end %>
		</ul>
	</div>  	
</li>