<li>
      <div class="collapsible-header">
      	<i class="material-icons">group_work</i>Associations de mots crées
      </div>

      <div class="collapsible-body">
      	<ul class="collection">

			<% @user.groups.sort_by{ |a| a.name or 0 }.each do |association| %>
				<li class="collection-item">

					<%= association.name if association.name %> <small>(<%= link_to "Modifier le nom de l'association", edit_group_path(association) %> | <%= link_to "Supprimer ce groupe de mots", association, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>)</small>
					<br>
					<small>
						<b>Mots associés : </b>
						<% association.definitions.sort_by{ |a| a.name or 0 }.each do |definition| %>
        <i><%= link_to definition.name, word_path(definition.word) %>,</i>
    <% end %>

					</small>
				</li>
			<% end %>
		</ul>
	</div>
      	
</li>

<li>
      <div class="collapsible-header">
      	<i class="material-icons">group_work</i>Mots ajoutés à une association
      </div>

      <div class="collapsible-body">
      	<ul class="collection">
			
			<% @user.definition_groups.sort_by{ |a| a.name or 0 }.each do |associated| %>

                <li class="collection-item">

                    <%= associated.definition.content %>
                </li>
            <% end %>
		</ul>
	</div>  	
</li>