<li>
      <div class="collapsible-header">
        <i class="material-icons">label</i>Thèmes ajoutés au lexique
      </div>

      <div class="collapsible-body">

      	<ul class="collection">
				
			<% @user.themes.order("name ASC").each do |theme| %>
				<li class="collection-item">
					<%= theme.name %>
					<small>
						(<%= link_to "voir", theme_path(theme)  %> | <%= link_to "modifier", edit_theme_path(theme) %>)
					</small>
				</li>
			<% end %>
			
		</ul>

      </div>
</li>

<li>
      <div class="collapsible-header">
      	<i class="material-icons">label</i>Thèmes ajoutés aux définitions
      </div>



      <div class="collapsible-body">
      	<ul class="collection">

      	<% @user.definition_themes.order("created_at DESC").each do |theme| %>
			<li class="collection-item">
				
          		
          		<%= theme.name %>
          		<small>(<%= link_to "attribuer à un autre thème", edit_definition_theme_path(theme) %>)
          		</small>
          		<br>
          		<small>
                <% if theme.definition %>
                Thème attribué à la définition de <%= link_to theme.definition.name, word_path(theme.definition.word) %> suivante : "<i><%= theme.definition.content %></i>"
                <% end %>
                </small>
			</li>
		<% end %>
		</ul>
      	
      </div>
    </li>