<% if user_signed_in? and current_user.first_name.blank? %>
<h3 class="center-align">
<br><br>
<%= link_to "Mettez à jour votre profil", edit_user_path(current_user) %></h3>

<% else %>

<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<hr>

<% @user.skills.each do |skill| %>
	<%= skill.theme %>
	<% if skill.certified %>
	<small>par diplome (dernier diplôme : <%= skill.last_diploma %>)</small> 
	<% end %>
	<% if skill.practiced %>
	<small>par la pratique (dernier projet : <%= skill.last_project %>)</small> 
	<% end %>
<% end %>

<% end %>
