<% if user_signed_in? and current_user.first_name.blank? %>
<h3 class="center-align">
<br><br>
<%= link_to "Mettez à jour votre profil", edit_user_path(current_user) %></h3>

<% else %>

<h3>
	<%= @user.first_name %> <%= @user.last_name %>
	
	<small><small><small><small>
		
		<%= link_to "Mettre à jour", edit_user_path(current_user), class: "waves-effect waves-light btn right" %>
			
	</small></small></small></small>

</h3>

<% if @user.skills.any? %>
<hr>


	<h5>Domaines d'expertise :</h5>

	<% @user.skills.each do |skill| %>
		<%= skill.theme %>
		<% if skill.certified %>
			<small>par diplome (dernier diplôme : <%= skill.last_diploma %>)</small> 
		<% end %>

		<% if skill.practiced %>
		<small>par la pratique (dernier projet : <%= skill.last_project %>)</small> 
		<% end %>
	<% end %>
<% end %>


<% end %>

<hr>


<h5>Contributions :</h5>

 <ul class="collapsible" data-collapsible="accordion">
    <%= render "words" %>

    <%= render "definitions" %>

    <%= render "traductions" %>

    <%= render "themes" %>

    <%= render "exemples" %>

    <%= render "associations" %>

  </ul>


<script type="text/javascript">
	$(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
