
<h3 class="center-align">
Définitions
</h3>

<div class="center-align"><small><%= alphabetical_paginate @alphaParams %> </small></div>
<div class="divider"></div>

<div id="pagination_table">
 <div class="collection">
    <% @words.each do |word| %>
    <% if word.definitions.any? %>
      <div class="collection-item">
      <h5><%= link_to word.name.titleize, word_path(word) %> <small>(<i><%= word.prononciation if word.prononciation %></i>)</small>
        <span class="badge">
          <% if word.is_fr %>français<% end %>
          <% if word.is_li %>lingala<% end %>
        </span>
        <span class="new badge purple" data-badge-caption="définitions"><%= word.definitions.count %></span>
      </h5>

      <div class="collection">
        <% word.definitions.each do |definition| %>
          <div class="collection-item">
          <p><%= definition.content %></p>
        </div>
        <% end %>
      </div>


      

       
        <!--<td><%= word.contributor_id %></td>
        <td><%= word.source %></td>
        <td><%= word.is_validated %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      
    </div>
    <% end %>
    <% end %>
</div>
</div>

