<div class="row">
  <div class="col m8 s12 offset-m2">
    <div class="card">
      <div class="card-content">

        <!--<span class="card-title">

          <small><%= @definition.content %></small>
          
        </span>-->
        <br>
        <p><%= simple_format(@definition.content) %></p>
        <br>
        
        <p class="right-align">
         <small>
            <strong>Mot défini</strong> : <%= link_to @definition.word.name, word_path(@definition.word) %>
            <br><strong>Source</strong> : <%= @definition.source %>
          </small>
        </p>
        
      </div>

      <div class="card-action right-align">
        
        <small><%= link_to "Modifier la définition", edit_definition_path(@definition) %></small>
              
      </div>
    </div>
  </div>
</div>



<!--
<p>
  <strong>Is validated:</strong>
  <%= @definition.is_validated %>
</p>  -->

