<% if user_signed_in? && current_user.is_admin %>

<h3>
Panneau d'administration
</h3>

<div class="row">
	<div class="col m3 s12">
		<div class="collection">
        <%= link_to "#{User.count} Contributeurs", admin_path, class: "collection-item" %>
        <%= link_to "#{Word.count} Mots", admin_words_path, class: "collection-item" %>
        <%= link_to "#{Definition.count} Définitions", admin_definitions_path, class: "collection-item active" %>

        <a href="#!" class="collection-item"><%= DefinitionTranslation.count %> Traductions</a>
        <a href="#!" class="collection-item"><%= Theme.count %> Thèmes</a>
        <a href="#!" class="collection-item"><%= DefinitionTheme.count %> Labelisations</a>
        <a href="#!" class="collection-item"><%= Group.count %> Groupes</a>
        <a href="#!" class="collection-item"><%= DefinitionGroup.count %> Associations</a>
        <a href="#!" class="collection-item "><%= Search.count %> Recherches</a>
      </div>
	</div>
	<div class="col m9">
		<div class="collection">
			<% @definitions.each do |definition| %>
				<div class="collection-item">
					<p><%= definition.content %>
						<br><small><%= link_to definition.word.name, word_path(definition.word) %></small>
					</p>
				</div>
			<% end %>
		</div>


	</div>
</div>

<% end %>