<% if user_signed_in? && current_user.is_admin %>

<h3>
Panneau d'administration
</h3>

<div class="row">
  <div class="col m3 s12">
    <div class="collection">
        <%= link_to "#{User.count} Contributeurs", admin_path, class: "collection-item" %>
        <%= link_to "#{Word.count} Mots", admin_words_path, class: "collection-item" %>
        <%= link_to "#{Definition.count} Définitions", admin_definitions_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTranslation.count} Traductions", admin_translations_path, class: "collection-item" %>
        <%= link_to "#{Theme.count} Thèmes", admin_themes_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTheme.count} Labelisations", admin_definitions_themes_path, class: "collection-item active" %>
        <%= link_to "#{Group.count} Groupes", admin_groups_path, class: "collection-item" %>
        <%= link_to "#{DefinitionGroup.count} Associations", admin_definitions_groups_path, class: "collection-item" %>
        <%= link_to "#{Search.count} Recherches", admin_searches_path, class: "collection-item" %>
        
      </div>
  </div>
  <div class="col m9">
    <div class="collection">
        <% @labelisations.order("created_at DESC").each do |theme| %>
      <div class="collection-item">
    
              <p><b><%= theme.name %></b>

                <br><% if theme.definition %>
                attribué à la définition de <b><%= link_to theme.definition.name, word_path(theme.definition.word) %></b> suivante : "<i><b><%= theme.definition.content %></b></i>"
                <% end %>
                
              <br><small>(<%= link_to "attribuer cette définition à un autre thème", edit_definition_theme_path(theme) %>)
              </small>
            </p>
      </div>
    <% end %>
    </div>


  </div>
</div>

<% end %>




		