<% if user_signed_in? && current_user.is_admin %>

<h3>
Panneau d'administration
</h3>

<div class="row">
  <div class="col m3 s12">
    <div class="collection">
        <%= link_to "#{User.count} Contributeurs", admin_path, class: "collection-item" %>
        <%= link_to "#{Word.count} Mots", admin_words_path, class: "collection-item" %>
        <%= link_to "#{Definition.count} Définitions", admin_definitions_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTranslation.count} Traductions", admin_translations_path, class: "collection-item" %>
        <%= link_to "#{Theme.count} Thèmes", admin_themes_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTheme.count} Labelisations", admin_definitions_themes_path, class: "collection-item" %>
        <%= link_to "#{Group.count} Groupes", admin_groups_path, class: "collection-item active" %>
        <%= link_to "#{DefinitionGroup.count} Associations", admin_definitions_groups_path, class: "collection-item" %>
        <%= link_to "#{Search.count} Recherches", admin_searches_path, class: "collection-item" %>
        
      </div>
  </div>
  <div class="col m9">
    <div class="collection">
        


    <% @groups.each do |association| %>
				<div class="collection-item">

					<p><%= association.name if association.name %> 
					<br>
					<small>(<%= link_to "Modifier le nom de l'association", edit_group_path(association) %> | <%= link_to "Supprimer ce groupe de mots", association, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>)</small>
					<br>
					<small>
						<b>Mots associés : </b>
						<% association.definitions.sort_by{ |a| a.name or 0 }.each do |definition| %>
        					<i><%= link_to definition.name, word_path(definition.word) %>,</i>
    					<% end %>
    				</small>
				</div>
			<% end %>


    </div>


  </div>
</div>

<% end %>