<% if user_signed_in? && current_user.is_admin %>

<h3>
Panneau d'administration
</h3>

<div class="row">
	<div class="col m3 s12">
		<div class="collection">
        <%= link_to "#{User.count} Contributeurs", admin_path, class: "collection-item" %>
        <%= link_to "#{Word.count} Mots", admin_words_path, class: "collection-item" %>
        <%= link_to "#{Definition.count} Définitions", admin_definitions_path, class: "collection-item active" %>
 				<%= link_to "#{DefinitionTranslation.count} Traductions", admin_translations_path, class: "collection-item" %>
        <%= link_to "#{Theme.count} Thèmes", admin_themes_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTheme.count} Labelisations", admin_definitions_themes_path, class: "collection-item" %>
        <%= link_to "#{Group.count} Groupes", admin_groups_path, class: "collection-item" %>
        <%= link_to "#{DefinitionGroup.count} Associations", admin_definitions_groups_path, class: "collection-item" %>
        <%= link_to "#{Search.count} Recherches", admin_searches_path, class: "collection-item" %>
      </div>
	</div>
	<div class="col m9">
		<div class="collection">
      <button data-target="modal1" class="btn modal-trigger right"><i class="material-icons">import_export</i> importer/exporter des definitions</button>
			<% @definitions.each do |definition| %>
				<div class="collection-item">
					<p><%= simple_format(definition.content) %>
						<br><small><%= link_to definition.word.name, word_path(definition.word) %></small>
					</p>
				</div>
			<% end %>
		</div>

		<div class="center-align"><small><%= paginate @definitions %> </small></div>

	</div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">

        <div class="col m6 s12">

          <h2>Importer des modification en xlsx</h2>
          <%= form_tag import_updates_definitions_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Importer", class: "btn" %>
          <% end %>

        </div>
        <div class="col m6 s12">
          <h2>Exporter les definition en fichier xlsx</h2>

          <%= form_tag("export_definiton.xlsx", method: "get") do %>
            <%= label_tag :page, "Quelle page voulez-vous(vous export 400 par page)" %>
            <div class="row">
              <div class="col s4">
                <%= text_field_tag :page %>
              </div>
              <div class="col s8">
                /il y'a <%= @total_export_page %> pages de 400 definitions au totals
              </div>
            </div>
            <%= submit_tag "Exporter les mots", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
  });
</script>