<% if user_signed_in? && current_user.is_admin %>

<h3>
Panneau d'administration
</h3>

<div class="row">
  <div class="col m3 s12">
    <div class="collection">
        <%= link_to "#{User.count} Contributeurs", admin_path, class: "collection-item" %>
        <%= link_to "#{Word.count} Mots", admin_words_path, class: "collection-item" %>
        <%= link_to "#{Definition.count} Définitions", admin_definitions_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTranslation.count} Traductions", admin_translations_path, class: "collection-item" %>
        <%= link_to "#{Theme.count} Thèmes", admin_themes_path, class: "collection-item" %>
        <%= link_to "#{DefinitionTheme.count} Labelisations", admin_definitions_themes_path, class: "collection-item" %>
        <%= link_to "#{Group.count} Groupes", admin_groups_path, class: "collection-item" %>
        <%= link_to "#{DefinitionGroup.count} Associations", admin_definitions_groups_path, class: "collection-item active" %>
        <%= link_to "#{Search.count} Recherches", admin_searches_path, class: "collection-item" %>

      </div>
  </div>
  <div class="col m9">
    <div class="collection">



    <% @associations.each do |associated| %>
		<% if associated.definition %>
			<div class="collection-item">

				<p><i><%= associated.definition.content %></i>

				<small>
					<br>Mot ainsi défini : <%= link_to associated.definition.name, word_path(associated.definition.word) if associated.definition.name %>
					<br>Nom de l'association de mots :
						<b><%= associated.group.name if associated.group.name %></b>
					<br><b>Autres mots de la même association : </b>

          <% associated.group.definitions.sort_by(&:name).each do |terme_associe| %>
            <% unless terme_associe == associated %>
              <%= link_to terme_associe.name, word_path(terme_associe.word) if terme_associe.name %>,
            <% end %>
          <% end %>


				  <br>(<%= link_to "Changer d'association", edit_definition_group_path(associated) %>
					| <%= link_to "Supprimer l'association de ce mot au groupe '#{associated.group.name if associated.group.name}'", associated, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>)
				</small>
			</p>


			</div>
		<% end %>
	<% end %>


    </div>


  </div>
</div>

<% end %>
