<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col m3 s12">
      <div class="input-field">
        <%= f.text_field :name, label: false, placeholder: "Nom" %>
      </div>
    </div>

    <div class="col m3 s12">
      <div class="input-field"> 
        <%= f.text_field :prononciation, label: false, placeholder: "Prononciation" %>
      </div>
    </div>

      <div class="col m2 s4">
        <div class="input-field">
          <%= f.label :is_fr, "français" %>
          <%= f.check_box :is_fr %>
        </div>
      </div>

      <div class="col m2 s4">
        <div class="input-field">
          <%= f.label :is_li, "lingala" %>
          <%= f.check_box :is_li %>
        </div>
      </div>

      <div class="col m2 s4">
        <div class="input-field">
          <%= f.label :is_en, "english" %>
          <%= f.check_box :is_en %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col m4 s12">
        <div class="input-field"> 
          <%= f.text_field :root, label: false, placeholder: "Racine" %>
        </div>
      </div>

      <div class="col m4 s12">
        <div class="input-field"> 
          <%= f.text_field :structure, label: false, placeholder: "Structure" %>
        </div>
      </div>

      <div class="col m4 s12">
        <div class="input-field"> 
          <%= f.text_field :role, label: false, placeholder: "Partie du discours" %>
        </div>
      </div>
    </div>

    <!--<div class="col m12 s12">
      <div class="input-field"> 
        <%= f.text_field :source, label: false, placeholder: "Source" %>
      </div>
    </div>
  </div>-->

<div class="card">
<div class="card-content">
<h5><small><u>Admin : modifier l'illustration</u></small></h5>
  <%= f.file_field :image %>
  <%= f.text_field :image_title, label: false, placeholder: "Titre de l'illustration" %>
  <%= f.text_area :image_description, label: false, placeholder: "Description de l'illustration" %>
  <%= f.text_field :image_url, label: false, placeholder: "Lien externe" %>
  </div>
  </div>
  <div class="row">

    
<!--
    <div class="col m2 s4">
      <div class="input-field">
        <%= f.check_box :is_validated %>
        <%= f.label :is_validated, "validé" %>
      </div>
    </div>
  -->

    <%= f.hidden_field :contributor_id, value: current_user.id %>
    <div class="center-align">
        <%= f.submit "Ajouter ce mot au dictionnaire", class: "waves-effect waves-light btn-large" %>
    </div>
  </div>
 


<% end %>
