
  <h3>
    <%= @word.name.titleize %>
    <small>
      (<i><%= @word.prononciation if @word.prononciation %></i>)
      <button data-target="modal1" class="btn modal-trigger right"><i class="material-icons">edit</i></button>
    </small>
    <br>

  </h3>
<strong>racine :</strong> -<i><%= @word.root %></i>- <strong>| structure :</strong> <i><%= @word.structure %></i> <strong>| partie du discours :</strong> <i><%= @word.role %></i>


  <div class="divider"></div>

  <div class="row">

    <div class="col m8 s12">
    <% if @word.is_li %>
      <%= render "word_li" %>
    <% elsif @word.is_fr %>
      <%= render "word_fr" %>
    <% end %>


    </div>

    <div class="col m4 s12">
     
          <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/100/90/nature/6">
              <span class="card-title">Illustration</span>
            </div>
            <div class="card-content">
              <p>Illustration description</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        
    </div>

</div>

  

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      
      <%= render "definitions/form" %>
    </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>







