
  <h3>
    <%= @word.name.titleize %>
      <% if user_signed_in? && current_user.id == @word.contributor_id or current_user.is_admin %>
        <%= link_to edit_word_path(@word) do %>
          <%= content_tag(:i, "edit" ,:class=> 'small material-icons') -%>
        <% end %>
      <% end %>

    <% if @word.is_li %>
    <small>
      (<i><%= @word.prononciation if @word.prononciation %></i>)

      <% if user_signed_in? %>
      <button data-target="modal1" class="btn modal-trigger right"><i class="material-icons">edit</i></button>
      <% end %>
    </small>
    <br>
    <% end %>

  </h3>

  <% if @word.is_li %>
    <strong>racine :</strong> -<i><%= @word.root %></i>- <strong>| structure :</strong> <i><%= @word.structure %></i> <strong>| partie du discours :</strong> <i><%= @word.role %></i>
    <br>

    <% if @word.exemples.any? %>
    <p>
      <strong>exemple:</strong><br>
      <% @word.exemples.each do |exemple| %>
        - <%= exemple.content %>

        <% if user_signed_in? && current_user.id == exemple.contributor_id %>
          <%= link_to edit_exemple_path(exemple) do %>
            <%= content_tag(:i, "edit" ,:class=> 'tiny material-icons') -%>
          <% end %>

        <% end %>

        <br>
      <% end %>
    </p>

    <% end %>



    <% if user_signed_in? %>
        <!-- Modal Structure Exemple -->
        <div id="modal3_<%= @id %>" class="modal bottom-sheet">
          <div class="modal-content container">
            <%= render partial: "exemples/form", locals: {word: @word} %>
          </div>
        </div>
    <% end %>
  <% end %>

  <div class="divider"></div>

  <div class="row">

    <div class="col m8 s12">
    <% if @word.is_li %>
      <%= render "word_li" %>
    <% elsif @word.is_fr %>
      <%= render "word_fr" %>
    <% end %>


    </div>

    <div class="col m4 s12">

          <%= render "right_pane" %>



    </div>

</div>



  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">

      <%= render "definitions/form" %>
    </div>
</div>

<!-- Modal Image -->
  <div id="modal_image" class="modal bottom-sheet">
    <div class="modal-content">

      <%= render "words/form_image" %>
    </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
