


	<h5 class="center-align">Résultats de votre recherche pour le terme: "<%= @search.keywords %>"
	</h5>
	



<div class="">
<% if @results.empty? %>
	<p class="center-align">Il n'y pas encore de terme qui correspond à votre recherche.
		<br>Vérifiez l'orthographe, ou revenez plus tard, vous aurez peut-être plus de chance alors.
	</p>
<% else %>
    <%= render partial: 'form' %>
<ul class="collection">

	<% @results.each do |word| %>
		<!-- !! identité -->
		<% if @results.include?(word.name) %>
			<%= link_to word.name, word_path(word) %>
		<% end %>

		<li class="collection-item">
			<b><%= link_to word.name, word_path(word) %></b> :
			<br>
			<% if word.is_fr && word.translations.any? %>
				<i><%= link_to word.translations.last.definition.word.name, word_path(word.translations.last.definition.word) %></i> <small>(lingala)</small>
			<% elsif word.is_li && word.definitions.any? %>
				<% word.definitions.each do |definition| %>
					<% definition.definition_translations.each do |translation| %>
	                	<i><%= link_to translation.word.name, word_path(translation.word) if translation.word %></i> <small>(français)</small>
	                	<br><%= definition.content %><br>
	              	<% end %>
              	<% end %>
			<% end %>
			
			</li>
	<% end %>
</ul>
		
<% end %>
<div class="center-align"><small><%= paginate @results %> </small></div>

</div>


