<%= form_for(@definition_translation) do |f| %>
  <% if @definition_translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition_translation.errors.count, "error") %> prohibited this definition_translation from being saved:</h2>

      <ul>
      <% @definition_translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    
    <%= f.hidden_field :definition_id, value: definition.id %>
  
  <div class="col m3 s6">
   
    
    <%= f.collection_select :word_id, @words.in_french, :id, :name, {prompt: 'Choisissez parmi les mots existants'}, {class: "browser-default"} %>
  </div>
  <div class="col m3 s6">
  
    <%= f.submit "Confirmer", class: "btn" %>
  
  </div>
  </div>
<% end %>
