<h4 class="center-align">Modifier la traduction française de <%= link_to @definition_translation.definition.name, word_path(@definition_translation.definition.word) %></h4>
<hr>



<%= form_for(@definition_translation) do |f| %>
  <% if @definition_translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition_translation.errors.count, "error") %> prohibited this definition_translation from being saved:</h2>

      <ul>
      <% @definition_translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row center-align">

  
  
   <div class="col m8 s12 offset-m2">
    <h6>Sélectionnez dans la liste un mot français qui correspond à <%= link_to @definition_translation.definition.name, word_path(@definition_translation.definition.word) %></h6>
    <%= f.collection_select :word_id, Word.in_french, :id, :name, {prompt: 'Choisissez parmi les mots existants'}, {class: "browser-default"} %>

    <br><%= f.submit "Confirmer la nouvelle traduction", class: "btn" %>
    <br><small>Le mot français n'est pas dans la liste ? <%= link_to "Ajoutez un nouveau mot français au dictionnaire", new_word_path %></small>
  </div>


 
  </div>
<% end %>