		<li><%= link_to "Définitions", words_path %></li>
        <li><%= link_to "Traductions", dico_fr_path %></li>
        <li><%= link_to "Lexiques", themes_path %></li>
        
        <% if user_signed_in? %>
        
	        <li><%= link_to "Mon profil", user_path(current_user) %></li>
	        <li><%= link_to "Se déconnecter", destroy_user_session_path, :method=>'delete' %>
        
        <% else %>
        
        	<li><%= link_to "Se connecter", new_user_session_path %></li>
        
        <% end %>

        <li><%= link_to "Contribuer", new_word_path, class: "waves-effect waves-light btn" %></li>

