<!DOCTYPE html>
<html>
<head>
  <title>Monoko</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   
</head>
<body>

	<header>
	  <!--<nav>
	  	<div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
</nav>-->
<nav>
    <div class="nav-wrapper container">
      <%= link_to" Monoko", root_path, class: "brand-logo monoko" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Définitions", words_path %></li>
        <li><%= link_to "Traductions", dico_fr_path %></li>
        <li><%= link_to "Lexiques", themes_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Mon profil", user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Contribuer", new_word_path, class: "waves-effect waves-light btn" %></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
      	<li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Définition", words_path %></li>
        <li><%= link_to "Traduction", words_path %></li>
        <li><%= link_to "Lexique", themes_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Mon profil", user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Contribuer", new_word_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>

</header>


	<main>

		<div class="container">

			<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>


</div>
</main>

<footer class="page-footer">
          <!--<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>-->
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Monoko
            <a class="grey-text text-lighten-4 right" href="#!">A propos de Monoko</a>
            </div>
          </div>
        </footer>

<script type="text/javascript">
	$( document ).ready(function(){
		$(".button-collapse").sideNav();
	})
</script>




</body>
</html>
